<div class="forecast-container box fade_in">
    <div class="today forecast">
        <div class="forecast-header">
            <div class="day">{{dayName}}</div>
            <div class="date">{{dateNumber}} {{monthName}}</div>
        </div> <!-- .forecast-header -->
        <div class="forecast-content">
            <div class="location">{{name}}</div>
            <div class="degree">
                <div class="num">{{maxTemp}}<sup>o</sup>C</div>
                <div class="forecast-icon">
                    <img src="../../../assets/images/icons/icon-1.svg" alt="" width="90">
                </div>
            </div>
            <span><img src="../../../assets/images/icon-umberella.png" alt="">{{humidity}}%</span>
            <span><img src="../../../assets/images/icon-wind.png" alt="">{{windSpeed}}km/h</span>
            <span><img src="../../../assets/images/icon-compass.png" alt="">East</span>
        </div>
    </div>
</div>