.main_container {
    background-color: var(--gen-container-bg);
    width: 100vw;
    height: 100vh;
}

.main_container .component_container {
    margin-left: 200px;
    padding: 10px;
    height: 100%;

}